<div class="user-detail my-form">

    <header>
        <h3>
            <strong *ngIf="settingsData.action === 'new'"> Adicionar </strong>
            <strong *ngIf="settingsData.action === 'edit'"> Editar </strong>
            <strong *ngIf="settingsData.action === 'view'"> Ver </strong>
        </h3>
        <button mat-raised-button color="accent" mat-dialog-close [disabled]="saving">
            Fechar
        </button>
    </header>

    <div class="loading" *ngIf="isLoading">
        Carregando...
        <div class="spinner-loading"></div>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="save()" *ngIf="!isLoading">

        <mat-form-field appearance="outline">
            <mat-label>
                Nome:
            </mat-label>
            <input id="valorDe" matInput formControlName="name" [attr.disabled]="settingsData.action === 'view'" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                Email:
            </mat-label>
            <input id="email" matInput formControlName="email" [attr.disabled]="settingsData.action === 'view'" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="senha">
            <mat-label>
                Senha:
            </mat-label>
            <input type="password" id="password" matInput formControlName="password">
            <mat-hint> Deixar em branco para não alterar</mat-hint>
        </mat-form-field>

        <div class="actions">
            <button mat-raised-button type="button" color="accent" mat-dialog-close [disabled]="saving">
                Fechar
            </button>

            <button mat-raised-button type="submit" color="primary" [disabled]="userForm.invalid || saving" *ngIf="settingsData.action !== 'view'">
                Salvar
                <div *ngIf="saving" class="spinner-loading"></div>
            </button>
        </div>

    </form>

</div>
