<div class="login mat-gray">
    <div class="message">
        <h1>
            Bem-vindo
        </h1>

        <p>
            Sistema SamTech
        </p>
    </div>

    <div class="form">
        <form [formGroup]="form" (ngSubmit)="login()">
            <h1 class="mat-primary-color"> SamTech </h1>

            <p>
                <mat-form-field appearance="outline" color="primary">
                    <mat-label> Usuário </mat-label>
                    <input autofocus matInput id="user" size="small" formControlName="user" placeholder="usuário" />
                    <mat-error *ngIf="form.controls['user'].status === 'INVALID'">
                        Campo inválido
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" color="primary">
                    <mat-label> Senha </mat-label>
                    <input matInput id="password" formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Senha" />
                    <!--                    <button-->
                    <!--                        type="button"-->
                    <!--                        mat-icon-button-->
                    <!--                        matSuffix-->
                    <!--                        (click)="hide = !hide"-->
                    <!--                        [attr.aria-label]="'Hide password'"-->
                    <!--                        [attr.aria-pressed]="hide">-->
                    <!--                    </button>-->
                    <mat-error *ngIf="
                            form.controls['password'].status === 'INVALID' ||
                            onSubmitCall
                        ">
                        Campo inválido
                    </mat-error>
                </mat-form-field>

            </p>
            <button mat-raised-button color="primary" [disabled]="form.invalid" id="login">
                Entrar
            </button>
        </form>
    </div>
</div>