<div class="crud">
    <div class="header-actions">
        <button mat-raised-button color="primary" *ngIf="displayNew" (click)="openDialog('new', page)" routerLink="/{{ link }}/novo"> {{ 'Adicionar' }} </button>
    </div>

    <app-table
        *ngIf="table_config"
        [config]="table_config"
        [search]="filter"
        [isArchived]="isArchived"
        [displayCustomFilters]="displayCustomFilters"
        [crudContext]="crudContext"
        [customParams]="customParams"
    ></app-table>

</div>
